@CHARSET "UTF-8";

.table > tbody > tr > td, 
.table > thead > tr > th {
	text-align: center; 
	vertical-align: middle; 
}

.row { 
	margin: 0px; 
}

.setWidth { 
	max-width: 100px; 
}

.concat div { 
	overflow: hidden; 
	width: inherit; 
	white-space: nowrap; 
	text-overflow: ellipsis; 
}

.treeview {
	max-width: 250px;
	max-height: 630px;
	overflow: auto;
}